.fiche {
  table-layout: fixed;
  width: 100%;
  font-size: 0.8em;
}

.fiche td {
  width: 33%;
  vertical-align: top;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.fiche thead tr,
.fiche tbody tr:nth-child(even) {
  background: #F2FFEE;
}
.fiche tbody tr:nth-child(odd) {
  background: white;
}


.fiche tbody td[rowspan="2"] {
  background: #F8FFF6;
}

/* Narrow layout */

@media screen and (max-width: 600px) {
  .fiche {
    border-collapse:separate;
    border-spacing:0 2em;
    font-size: 1em;
  }
  /* Hide the thead */
  .fiche thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .fiche tbody tr:nth-child(even),
  .fiche tbody tr:nth-child(odd) {
    background: transparent;
  }

  .fiche tbody td {
    display: block;
    width: 100%;
    padding: 0;
  }
  
  .fiche tbody td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-variant: small-caps;
    margin-right: 5px;
    text-transform: small-caps;
  }
}
