---
layout: layout
title: "À propos"
---

<section class="content">
  <h1>{{ site.name }}</h1>

  <p>
  	J’écris des sites web, des logiciels, des applications mobiles.
    Auparavant chez <a href="https://www.trainline.fr">Trainline</a> (anciennement Capitaine Train),
    vous me trouverez désormais <a href="{{ site.url }}">sur ce blog</a>,
    mais aussi sur <a href="https://mastodon.xyz/@pmorinerie">Mastodon</a>,
    parmi les <a href="https://www.codeursenliberté.fr">Codeurs en Liberté</a>,
    ou en haut d’une colline du nord-est de Paris.
  </p>

  <h3>Zoo</h3>
  <p>
    Ces dernières années j’ai contribué à diverses bricoles, plus ou moins personnelles.
  </p>

  <ul>
    <li>
      <a href="https://gitlab.com/pmorinerie/birdsite">BirdSite</a>,
      une extension Firefox et Chrome pour poster des tweets depuis Mastodon.
    </li>
    <li>
      <a href="https://github.com/YunoHost-Apps/mattermost_ynh">Mattermost Yunohost</a>,
      un paquet pour auto-héberger une plateforme Mattermost sur Yunohost.
    </li>
    <li>
      <a href="https://github.com/mojobojo/LADX-Disassembly">LADX-Disassembly</a>,
      une reconstitution du code source de <em>Zelda: Link’s Awakening DX</em> sur Game Boy Color.
    </li>
    <li>
      <a href="https://gitlab.com/pmorinerie/mach-sublime-build">Mach.sublime-build</a>,
      une extension pour intégrer le système de build de Mozilla à Sublime Text.
    </li>
  </ul>

  <br>

  <p>À côté des projets personnels, il y a aussi les communs. J’ai eu la chance de pouvoir faire quelques contributions à des projets open-source.</p>

  <ul>
    <li>
      <a href="https://gitlab.com/users/pmorinerie/contributed">GitLab</a>,
      pour améliorer les emails de notification.
    </li>
    <li>
      <a href="https://github.com/mattermost/mattermost-server">Mattermost</a>,
      pour rendre le démarrage du serveur plus fiable.
    </li>
    <li>
      <a href="https://github.com/citra-emu/citra">Citra</a>,
      pour corriger des bogues liés au support de macOS.
    </li>
  </ul>

  <h3>Just shy, not antisocial</h3>
  <p>
    On n’a jamais fini d'apprendre et de refaire le monde. Parlons donc d’habitats partagés et de compilateurs JIT, de théâtre-forum et de structures de données immutables, de décentralisation et de transports en commun.
  </p>
</section>
