---
layout: layout
title: "Archives"
---

<section class="content">
  <ul class="listing">
    {% for post in site.posts %}
      {% unless post.draft or post.redirect %}
	    <li>
	      <span>{{ post.date | localize: "%e %B %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
	    </li>
      {% endunless %}
    {% endfor %}
  </ul>
</section>
