---
layout: layout
title: "Articles"
---

<section class="content">

  <!-- Paginated posts -->
  {% for post in paginator.posts %}
    {% unless post.draft or post.redirect %}
      <article class="post">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

        <section class="byline">
          {{ post.date | localize: "%e %B %Y" }}
        </section>

        {{ post.excerpt }}

        {% if post.excerpt != post.content %}
          <a href="{{ post.url }}">Read more…</a>
        {% endif %}
      </article>
    {% endunless %}
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Page suivante</a>
    {% endif %}
  </div>

</section>
