<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.lang | default: site.lang }}">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
  {% endif %}

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/fiche.css" type="text/css" />
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css"  />
  <link rel="stylesheet" href="/css/applause-button.css" type="text/css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  {% seo %}
</head>

<body>
  {% comment %}
    {% include greve.html %}
  {% endcomment %}

  <section class="sidebar">
    <a href="/">
      <img src="/images/avatar.png" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <!-- span id="fname">{{ site.name|split:' '|first }}</span -->
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" rel="me">
        <i class="icon icon__github">{% include icons/fa-github.svg %}</i>
      </a>
      <a href="{{ site.mastodon_url }}" rel="me">
        <i class="icon icon__mastodon">{% include icons/mastodon.svg %}</i>
      </a>
      <!-- a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <i class="icon icon__twitter">{% include icons/fa-twitter.svg %}</i>
      </a -->
      <a href="/atom.xml">
        <i class="icon icon__rss">{% include icons/fa-rss.svg %}</i>
      </a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about">à propos</a></li>
        <li><a href="/archives">articles</a></li>
      </ul>
    </section>
  </section>

  {{ content }}
</body>

</html>
