---
layout: layout
---

<section class="content {{ page.class }}">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | localize: "%e %B %Y" }}
  </section>

  {{ content }}

  <section class="meta">
    <div class="applause__container">
      <span class="applause__button">
        <script src="/javascript/applause-button.js"></script>
        <applause-button style="width: 48px; height: 48px;" url={{ page.url | absolute_url }}/>
      </span>
      <p class="applause__label">Kudos</p>
    </div>

    <h3>Discussion, liens, et tweets</h3>
    <section class="copy">
      <a href="{{ site.mastodon_url }}" target="_blank">
        <img src="/images/avatar.png" height="50" width="50" />
      </a>

      <p>
        J’écris des sites web, des logiciels, des applications mobiles.
        Vous me trouverez essentiellement <a href="{{ site.url }}">sur ce blog</a>,
        mais aussi sur <a href="https://mastodon.xyz/@pmorinerie">Mastodon</a>,
        parmi les <a href="https://www.codeursenliberté.fr">Codeurs en Liberté</a>,
        ou en haut d’une colline du nord-est de Paris.
      </p>
    </section>
  </section>
</section>
