<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="0; url={{ page.redirect }}"/>
    <link rel="canonical" href="{{ page.redirect }}"/>
    <title>Redirection</title>
 </head>
 <body>
    If you are not redirected automatically, follow <a href='{{ page.redirect }}'>this link</a>.
 </body>
 </html>
